body{
    background-color: bisque;
}
h1{
    
    position: relative;
    background-color: darkturquoise;
    font-weight: bolder;
    font-size: large;
    text-align: center;
    color:black;
}


a{
   
    text-align: left;
    font-weight: bold;
    color: green;
    
}