h2{
    background-color: rgb(152, 150, 150);
    color:yellowgreen;
}
h1{
    color: gold;
}
#uc{
    
    padding-left: 20px;
}
#uc p{
    background-color: rgb(236, 236, 61);

}
.validator{
    float:right;
    display:flex;
    clear:right;
}
footer{
    float:right;
    clear:right;
}