input[type="reset"] {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    color: rgb(174, 167, 159);
}

input[type="submit"] {
    margin-left: 20px;
    border-radius: 5px;
}
main>div.container{
    margin-top: 50px;
} 
footer{
    display: flex;
    width: 100%;
    background-color: lightgrey;
    
    height: 5vh;
    position: fixed;
    bottom: 0px;
    align-items: center;
}
.leftFoot{
    width: 50%;
    margin-left: 20px;
    
}
.rightFoot{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;


}