<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="O. Kalu">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-2kOE+STGAkgemIkUbGtoZ8dJLqfvJ/xzRnimSkQN7viOfwRvWseF7lqcuNXmjwrL" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/master.css">
    <title>CS472-Lesson15-Using Cookies - Home</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a style="padding-right: 2em;" class="navbar-brand" href="/">CS472-Lesson15-Cookies<sup>&reg;</sup> : : : Login Form</a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarText" style="justify-content: flex-end;">
                span(class="navbar-text", style="color:#fff;padding-left: 2em; padding-right: 0em;") Welcome, #{emailAddr} &nbsp;&nbsp;| 
                
                <span class="navbar-text" style="color:#fff;padding-left: 1em; padding-right: 1em;">
                    <a style="color:#fff;" href="/signOut">Sign Out</a>
                </span>
            </div>
        </nav>
    </header>    
    <div class="container" style="padding-top:1em;">
        <h3>Welcome to Lesson15 - Using Cookies for State Maintenance</h3>
        <hr/>
        <!-- content -->
        <div style="display: block;width: 100%; margin-bottom: 1em;">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quidem veniam incidunt error esse repellendus itaque harum exercitationem a quia, quaerat nostrum tempore, minima ab porro doloribus eligendi expedita excepturi voluptas nulla eveniet. Repudiandae sit dolor voluptatum, numquam iusto nihil tempora asperiores officiis neque blanditiis natus reiciendis autem quis error deserunt enim qui placeat optio libero! Eveniet, blanditiis assumenda, perspiciatis sed quos tempora ipsum rerum accusamus sequi nihil esse quas eaque. Omnis error repellat animi sapiente, dolorum nihil assumenda dolore ut? Quaerat, molestiae molestias. Itaque, tempore error repellat quisquam soluta ab consequuntur saepe animi optio, reprehenderit ut facere corrupti neque?
            </p>
        </div>
    </div>
    <footer>
        <div class="container">
            <span class="text-muted">O. Kalu : : : CS472-WAP</span>
            <span style="float:right;" class="text-muted">&copy; November 2021</span>
        </div>
    </footer>
    <!-- ================================================== -->
    <!-- Bootstrap core JavaScript source files -->
    <!-- Placed at the end of the document -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>